<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babbage</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <img src="/img/banner.jpg" alt="banner" width="100%">
        <nav id="menu">
            <ul>
              <li><a href="/">Home</a></li>
                <li><a href="/babbage">Babbage</a></li>
                <li><a href="/berners-lee">Berners</a></li>
                <li><a href="/clarke">Clarke</a></li>
                <li><a href="/hamilton">Hamilton</a></li>
                <li><a href="/hopper">Hopper</a></li>
                <li><a href="/lovelace">Lovelace</a></li>
                <li><a href="/turing">Turing</a></li>
                
  
            </ul>
        </nav>


    </header>

    <main>
        <article>
        <h1>Babbage</h1>
        <p>Se considera que la máquina analítica de Babbage fue la primera computadora de la historia. Un diseño inicial plenamente funcional de ella fue terminado en 1835. Sin embargo, debido a problemas similares a los de la máquina diferencial, la máquina analítica nunca fue terminada.</p>
        <img src="/img/inventoBabbage.jpg" alt="inventoBabbage"></article>
    </main>

</body>
</html>