<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<header>
    <div class="banner">
        <img src="/img/banner.jpg" alt="banner"></div>
   <nav id="menu">
       <ul>
         <li><a href="/">Home</a></li>
           <li><a href="/babbage">Babbage</a></li>
           <li><a href="/berners-lee">Berners</a></li>
           <li><a href="/clarke">Clarke</a></li>
           <li><a href="/hamilton">Hamilton</a></li>
           <li><a href="/hopper">Hopper</a></li>
           <li><a href="/lovelace">Lovelace</a></li>
           <li><a href="/turing">Turing</a></li>
           

       </ul>
   </nav>
</header>
<main>
    <h1>Hopper</h1>
    <img src="/img/Grace_M._Hopper.jpg" alt="Hopper">
    <p>Popularizó la idea de los lenguajes de programación independientes de la máquina, lo que derivó en el desarrollo de COBOL, un lenguaje de alto nivel de programación que aún se utiliza. Era conocida por sus amistades como Amazing Grace</p>

</main>
</body>
</html>