<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovelace</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class="banner">
            <img src="/img/banner.jpg" alt="banner"></div>
       <nav id="menu">
           <ul>
             <li><a href="/">Home</a></li>
               <li><a href="/babbage">Babbage</a></li>
               <li><a href="/berners-lee">Berners</a></li>
               <li><a href="/clarke">Clarke</a></li>
               <li><a href="/hamilton">Hamilton</a></li>
               <li><a href="/hopper">Hopper</a></li>
               <li><a href="/lovelace">Lovelace</a></li>
               <li><a href="/turing">Turing</a></li>
               
 
           </ul>
       </nav>
    </header>
    <main>
        <h1>Lovelace</h1>
        <img src="/img/Ada_Lovelace.jpg" alt="Lovelace">
        <p> Entre sus notas sobre la máquina, se encuentra lo que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la considera como la primera programadora de ordenadores.</p>
    </main>
</body>
</html>