<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class="banner">
            <img src="/img/banner.jpg" alt="banner"></div>
       <nav id="menu">
           <ul>
             <li><a href="/">Home</a></li>
               <li><a href="/babbage">Babbage</a></li>
               <li><a href="/berners-lee">Berners</a></li>
               <li><a href="/clarke">Clarke</a></li>
               <li><a href="/hamilton">Hamilton</a></li>
               <li><a href="/hopper">Hopper</a></li>
               <li><a href="/lovelace">Lovelace</a></li>
               <li><a href="/turing">Turing</a></li>
               
 
           </ul>
       </nav>
    </header>
    <main>
        <h1> Turing</h1>
        <img src="/img/Alan_Turing.jpg" alt="Turing">
        <p>Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna. Proporcionó una influyente formalización de los conceptos de algoritmo y computación: la máquina de Turing. Formuló su propia versión que hoy es ampliamente aceptada como la tesis de Church-Turing (1936).</p>
    </main>
</body>
</html>